[MESSAGES CONTROL]
disable = missing-function-docstring,
        missing-module-docstring,
        missing-class-docstring,
        import-outside-toplevel,
        attribute-defined-outside-init,
        line-too-long,
        invalid-str-returned,
        no-member,
        mport-outside-toplevel,
        missing-docstring,
        unknown-option-value,
        invalid-name,
        unused-import
        